<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Exam Information"></Label>
</ActionBar>


<ScrollView row="1" class="nt-drawer__body">

    <FlexboxLayout flexDirection="column" class="exam-info-page-container">
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-icon fas info-circle" text="&#xf015;"></Label>
        
        <Label class="page__content-placeholder" text=" "></Label>

        <Label class="page__content-placeholder footer-text" text="Exam Information"></Label>
        
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        
        <Label class="page__content-placeholder" text="{{examInfoP1}}" class="about-gray about-message"
        textWrap="true"></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        
        <Label class="page__content-placeholder" text="Note: Study App Technologies is a third party creator of study materials and is in no way affliiates with ______!" class="about-gray about-message"
        textWrap="true"></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        
        <Label class="page__content-placeholder" text="EA Certification Requirements" class="about-gray about-message"
        textWrap="true"></Label>

        <Label class="page__content-placeholder" text="Need to pass 3 exams: Business, Something, Something. Each exam is taken at a testing center by appointment here: (link)" class="about-gray about-message"
        textWrap="true"></Label>
        
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-placeholder" text="Passing the Exams" class="about-gray about-message"
        textWrap="true"></Label>
        
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-placeholder" text="Each exam consists of 100 multiple choice questions, of which you need to correctly answer at least 75 in order to pass the exam. You have a maximum of 3 hours to complete the exam." class="about-gray about-message"
        textWrap="true"></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-placeholder" text="Studying Tips" class="about-gray about-message"
        textWrap="true"></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-placeholder" text="- make a schedule and stick to it, - study with friends, - start looking for jobs early"
        textWrap="true"></Label>
        <Label class="page__content-placeholder" text=" "></Label>

        <Label class="page__content-placeholder" text="On Exam Day" class="about-gray about-message"
        textWrap="true"></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        <Label class="page__content-placeholder" text="- Have a plan already mapping out exactly where the test center is located and how you will get there, - get to the testing center at least 30 minutes early, - get plenty of sleep the night before and eat a good breakfast the morning of the exam, - stay calm and stay focused, - read each question fully and carefully consider each answer choice"
        textWrap="true"></Label>
        <Label class="page__content-placeholder" text=" "></Label>
        
    </FlexboxLayout>
</ScrollView>