.about-icon {
    padding: 70 40 0;
    margin: 0;
    color: rgb(80, 80, 80);
}

.about-title {
    font-size: 37;
    padding: 40 10 0;
    line-height: 12;
}

.about-message {
    font-size: 24;
    padding: 70 35;
    line-height: 10;
}

.about-gray {
    color: rgb(80, 80, 80);
    text-align: center;
}

.footer-text {
    flex: 1;
    justify-content: flex-end;
    flex-direction: column;
}

.about-page-container {
    display: flex;
    flex: 1;
    text-align: center;
    padding: 50 10;
}