.mock-exam-picker {
    margin-top: 0;
    padding-top: 0;
}

.choose-exam-label {
    font-size: 22;
    color: white;
    text-align: center;
}

.underneath-label-text {
    padding: 0;
    margin-top: 20;
    font-size: 20;
    line-height: 14;
    text-align: center;
}

.good-luck-text {
    font-size: 20;
    line-height: 17;
    text-align: center;
}