.mock-exam-picker {
    margin-top: 0;
    padding-top: 0;
}

.choose-exam-label {
    font-size: 21;
    color: white;
    text-align: center;
}

.underneath-label-text {
    padding: 0;
    margin-top: 20;
    font-size: 17;
    line-height: 15;
    text-align: center;
}