<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="{{mockExamTitle}}"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="page__content">


        <Label class="page__content-placeholder" text="" width="100%" height="50"></Label>
        <Label class="page__content-icon fas" text="📚"></Label>
        <Label class="page__content-placeholder" text="" width="100%" height="25"></Label>
        <Label class="page__content-placeholder" text="" width="100%" height="30"></Label>
        <Label class="page__content-placeholder" text=""></Label>
        <Label class="page__content-placeholder" text="{{chooseExamLabel}}" padding="10" class="choose-exam-label" backgroundColor="rgb(169, 169, 169)" textWrap="true"></Label>
        
        <Label class="page__content-placeholder underneath-label-text" text="Which section of the enrolled agent exams would you like to take a practice test on?" padding="10" textWrap="true"></Label>
        
        <ListPicker class="mock-exam-picker" [items]="exams" selectedIndex="0" (selectedIndexChange)="onSelectedExamIndexChanged($event)">
        </ListPicker>
        
        <Label class="page__content-placeholder" text=""></Label>
        <Label class="page__content-placeholder" text="{{mockExamHowLongPickerLabel}}" padding="10" class="choose-exam-label" backgroundColor="rgb(169, 169, 169)" textWrap="true"></Label>
        
        <Label class="page__content-placeholder underneath-label-text" text="{{staticText.mockExamHowLongQuestion}}" padding="10" textWrap="true"></Label>
        <ListPicker 
        [items]="times"
        selectedIndex="0"
        class="mock-exam-picker"
        (selectedIndexChange)="onSelectedTimeIndexChanged($event)">
    </ListPicker>
    
    
    <Label class="page__content-placeholder" text=""></Label>
    <Label class="page__content-placeholder  good-luck-text" text="{{staticText.mockExamGoodLuckText}}" textWrap="true"></Label>
    <!-- <Label class="page__content-placeholder" text="immediately after pressing start."></Label>
    <Label class="page__content-placeholder" text="" height="15"></Label>
    <Label class="page__content-placeholder" text="Good luck!"></Label> -->
    
    <Label class="page__content-placeholder" text="" width="100%" height="20"></Label>
    
    <Button text="{{staticText.mockExamStartBtnLabel}}" (tap)="onTap('/meq')" class="-primary" textWrap="true"></Button>
    
    <Label class="page__content-placeholder" text="" width="100%" height="10"></Label>
    
</StackLayout>
</ScrollView>