<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Notes"></Label>
</ActionBar>

<ScrollView>
<StackLayout class="page__content">


    <Label class="page__content-placeholder" text="" width="100%" height="50"></Label>
        <Label class="page__content-icon fas" text="&#128465;"></Label>
        <Label class="page__content-placeholder" text="" width="100%" height="25"></Label>
        <Label class="page__content-placeholder" text="Enrolled Agent Study Notes"></Label>
        <Label class="page__content-placeholder" text="" height="25"></Label>

        <!-- <FlexboxLayout justifyContent="space-between" width="100%" *ngFor="let chapterTitle of chapterTitles; let i = index">
            <Label text="{{chapterTitle.chapter}}) {{chapterTitle.title}}" class="radio-label" row="0" col="0"
                width="77%" textWrap="true"></Label>
        </FlexboxLayout> -->

        <FlexboxLayout justifyContent="space-between" width="100%" padding="20" flexDirection="column">
            <Label text="{{noteSection.text}}" textWrap="true" padding="5"
            *ngFor="let noteSection of notes; let i = index"
            [ngClass]="{'notes-title': noteSection.type === 'title', 'notes-p': noteSection.type === 'note'}"></Label>
        </FlexboxLayout>


        <!--  
    <Label class="page__content-placeholder" text=""></Label>
    
    <Button text="Start Mock Exam" (tap)="onTap('home')" class="-primary"></Button>
-->
</StackLayout>
</ScrollView>