<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Mock Exam"></Label>
</ActionBar>

<ScrollView>
    <StackLayout class="page__content">


        <!-- <Label class="page__content-placeholder" text="" width="100%" height="50"></Label>
        <Label class="page__content-icon fas" text="&#xf013;"></Label>
        <Label class="page__content-placeholder" text="" width="100%" height="25"></Label>
        <Label class="page__content-placeholder" text=""></Label>
        <Label class="page__content-placeholder" text="Mock Exam"></Label>
        <Label class="page__content-placeholder" text="" width="100%" height="30"></Label>
        <Label class="page__content-placeholder" text=""></Label>
        <Label class="page__content-placeholder" text="Choose an exam:" padding="0"></Label>
         -->
        <!-- <ListPicker class="mock-exam-picker" [items]="exams" selectedIndex="0" (selectedIndexChange)="onSelectedExamIndexChanged($event)">
        </ListPicker> -->
        
        
        <!-- <Label class="page__content-placeholder" text="minutes to answer 20 questions."></Label> -->
        <!-- <Label class="page__content-placeholder" text="Answers will be shown"></Label> -->
        <!-- <Label class="page__content-placeholder" text=""></Label> -->
        <!-- <Label class="page__content-placeholder" text="Choose an exam duration:"></Label> -->
        
        <!-- <ListPicker 
        [items]="times"
        selectedIndex="0"
        class="mock-exam-picker"
        (selectedIndexChange)="onSelectedTimeIndexChanged($event)">
    </ListPicker> -->
    
    
    <Label class="page__content-placeholder" text=""></Label>
    <Label class="page__content-placeholder" text="Derp"></Label>
    <!-- <Label class="page__content-placeholder" text="immediately after pressing start."></Label>
    <Label class="page__content-placeholder" text="" height="15"></Label>
    <Label class="page__content-placeholder" text="Good luck!"></Label>
    
    <Label class="page__content-placeholder" text="" width="100%" height="20"></Label>
    
    <Button text="Start Exam" (tap)="onTap('home')" class="-primary"></Button>
    
    <Label class="page__content-placeholder" text="" width="100%" height="10"></Label> -->
    
</StackLayout>
</ScrollView>