.home-icon {
    padding: 70 40 0;
    margin: 0;
    color: rgb(80, 80, 80);
}

.home-title {
    font-size: 37;
    padding: 40 10 0;
    line-height: 12;
}

.home-message {
    font-size: 22;
    padding: 70 25;
    line-height: 10;
}

.home-gray {
    color: rgb(80, 80, 80);
    text-align: center;
}