<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
https://docs.nativescript.org/angular/ui/professional-ui-components/ng-SideDrawer/getting-started
-->
<RadSideDrawer [drawerTransition]="sideDrawerTransition">
    <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
        <StackLayout row="0" class="nt-drawer__header" (tap)="onDrawerAvatarClick()" style="height: 500px;">
            <Image class="nt-drawer__header-image fas t-36" style="color: white; margin: 10px 3px;"
                src="{{userPicture || 'font://&#xf2bd;'}}"></Image>
            <Label class="nt-drawer__header-brand" text="{{userName || 'Guest'}}"></Label>
            <Label *ngIf="!userName" class="nt-drawer__header-footnote" text="(tap to login)"></Label>

            <FlexboxLayout flexDirection="row" justifyContent="space-around" style="padding: 10px 10px 0px 10px;">

                <FlexboxLayout>
                    <Image class="nt-drawer__header-image fas t-36"
                        style="color: white; margin: 10 3 10 10; width: 40px;"
                        src="{{userPicture || 'font://&#xf2bd;'}}"></Image>
                    <Label class="nt-drawer__header-brand" text="x 32"></Label>
                </FlexboxLayout>

                <FlexboxLayout>
                    <Image class="nt-drawer__header-image fas t-36"
                        style="color: white; margin: 10 3 10 10; width: 40px;"
                        src="{{userPicture || 'font://&#xf2bd;'}}"></Image>
                    <Label class="nt-drawer__header-brand" text="x 120"></Label>
                </FlexboxLayout>

                <FlexboxLayout>
                    <Image class="nt-drawer__header-image fas t-36"
                        style="color: white; margin: 10 3 10 10; width: 40px;"
                        src="{{userPicture || 'font://&#xf2bd;'}}"></Image>
                    <Label class="nt-drawer__header-brand" text="x 23"></Label>
                </FlexboxLayout>

            </FlexboxLayout>

        </StackLayout>

        <ScrollView row="1" class="nt-drawer__body">
            <StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/study')" (tap)="onNavItemTap('/study')">
                    <Label col="0" text="📖" class="nt-icon fas" fontSize="17"></Label>
                    <Label col="1" text="Study" class="p-r-10" fontSize="17"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/exam-info')" (tap)="onNavItemTap('/exam-info')">
                    <Label col="0" text="📂" class="nt-icon fas" fontSize="17"></Label>
                    <Label col="1" text="Exam Info" class="p-r-10" fontSize="17"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/continuing-education')"
                    (tap)="onNavItemTap('/continuing-education')">
                    <Label col="0" text="🎓" class="nt-icon fas" fontSize="17"></Label>
                    <Label col="1" text="Continuing Education" class="p-r-10" fontSize="17"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/about')" (tap)="onNavItemTap('/about')">
                    <Label col="0" text="👋" class="nt-icon fas" fontSize="17"></Label>
                    <Label col="1" text="About Us" class="p-r-10" fontSize="17"></Label>
                </GridLayout>

                <StackLayout class="hr"></StackLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/settings')" (tap)="onNavItemTap('/settings')">
                    <Label col="0" text="⚙️" class="nt-icon fas" fontSize="17"></Label>
                    <Label col="1" text="Settings" class="p-r-10" fontSize="17"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="nt-drawer__list-item"
                    [class.-selected]="isComponentSelected('/debug')" (tap)="onNavItemTap('/debug')">
                    <Label col="0" text="🐛" class="nt-icon fas" fontSize="17"></Label>
                    <Label col="1" text="Debug" class="p-r-10" fontSize="17"></Label>
                </GridLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>