<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Mock Exam"></Label>
</ActionBar>

<ScrollView>

    <StackLayout class="page__content">

        <FlexLayout backgroundColor="darkgray" flexDirection="row">
            <Label class="time-remaining-label"
                text="Time Remaining - {{hoursRemaining}}:{{minutesRemaining}}:{{secondsRemaining}}"></Label>
        </FlexLayout>

        <FlexLayout backgroundColor="lightgray">
            <Button text="Back to the Questions" textWrap="true" class="-primary"
                (tap)="onBackToQuestionsBtnTap()"></Button>
        </FlexLayout>

        <FlexLayout backgroundColor="lightgray">
            <Label class="page__content-placeholder exam-review-header" width="100%" backgroundColor="#DCDCDC"
                text="Exam Review" textWrap="true">
            </Label>
        </FlexLayout>

        <FlexboxLayout justifyContent="space-around" width="80%" *ngFor="let question of questions; let i = index;"
            class="review-answer-row">
            <Label text="Q{{i+1}}) &nbsp; &nbsp; {{question.currentAnswerChoice || '_'}}" width="auto" textWrap="true"
                class="review-answers-q-text"></Label>

            <Button *ngIf="!question.currentAnswerChoice" text="Answer" textWrap="true"
                class="-primary review-page-answer-btn" width="40%" (tap)="onViewQuestionTap(i)"></Button>

            <Button *ngIf="question.currentAnswerChoice" text="Review" textWrap="true" class="-primary" width="40%"
                (tap)="onViewQuestionTap(i)"></Button>
        </FlexboxLayout>

        <FlexLayout>
            <Button text="Submit Exam" textWrap="true" class="-primary submit-exam-btn"
                (tap)="submitExamBtnTap()"></Button>
        </FlexLayout>

    </StackLayout>
</ScrollView>