.mock-exam-picker {
    margin-top: 0;
    padding-top: 0;
}

.time-remaining-label {
    padding-top: 15;
    padding-left: 15;
    padding-bottom: 5;
    padding-right: 15;
    font-size: 16;
}

.review-answers-btn {
    font-size: 15;
    background-color: darkkhaki;
    color: white;
    max-width: 300;
    margin-bottom: 15;
}

.question-index-label {
    padding-top: 10;
    padding-left: 10;
    padding-bottom: 0;
    font-size: 14;
}

.black-text {
    color: #1a1110;
}

.exam-review-header {
    color: #1a1110;
    font-size: 27;
    padding-top: 20;
    padding-bottom: 20;
    padding-left: 20;
    padding-right: 15;
    margin-bottom: 35;
}

.single-line {
    line-height: 20;
    max-height: 30;
}

.readable-p {
    margin-top: 10;
    margin-left: 20;
    margin-right: 20;
    font-size: 17;
    text-align: left;
    border: none;
}

.immediate-feedback-text {
    margin: 25px 10px 0;
    text-align: center;
    font-size: 25;
    overflow: hidden;
}

Button {
    height: auto;
}

.more-explanation {
    font-size: 21;
}

.ffq-btn {
    text-align: left;
}

.first-button {
    margin-top: 25;
}

.hacky-hr {
    margin-top: 15;
    margin-bottom: 15;
}

.answered {
    background-color: darkblue;
}

.review-answers-q-text {
    font-size: 24;
    padding: 20 15;
    text-align: center;
}

.review-page-answer-btn {
    background-color: rgba(98, 177, 18, 0.755);
}

.review-answer-row {
    margin: 17 0;
}

.submit-exam-btn {
    margin-top: 40;
}