<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Settings"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf013;"></Label>
    <Label class="page__content-placeholder" text=" "></Label>

    <FlexboxLayout justifyContent="space-between" width="100%" class="primary p-2">
        <Label class="page__content-placeholder footer-text p-5" text="Coolness" row="0" col="0" width="77%"
            textWrap="true"></Label>
        <Switch row="0" col="1" class="radio-switch" (checkedChange)="coolnessToggle()">
        </Switch>
    </FlexboxLayout>

    <FlexboxLayout>
        <Label class="p-5"
            text="{{isCool === true ? '    You are cool!' : '    Hit the toggle switch if you are cool...'}}" row="0"
            col="0" width="77%" textWrap="true">
        </Label>
    </FlexboxLayout>

    <FlexboxLayout justifyContent="space-between" width="100%" class="primary p-2">
        <Label class="page__content-placeholder footer-text p-5" text="Dark Mode" row="0" col="0" width="77%"
            textWrap="true"></Label>
        <Switch [checked]="darkModeEnabled" row="0" col="1" class="radio-switch"
            (checkedChange)="onDarkModeToggleClicked()"></Switch>
    </FlexboxLayout>

    <FlexboxLayout>
        <Label class="p-5" text="    Dark mode is {{darkModeEnabled ? 'enabled!' : 'disabled'}}" row="0" col="0"
            width="77%" textWrap="true">
        </Label>
    </FlexboxLayout>

</StackLayout>