<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label text="Review Question"></Label>
</ActionBar>

<ScrollView>

    <StackLayout class="page__content">

        <Button text="Back To Exam Results" textWrap="true" class="back-to-exam-results-btn" (tap)="backToResultsBtn()"></Button>

        <FlexLayout backgroundColor="lightgray">

            <Label class="question-index-label" width="100%" backgroundColor="#DCDCDC"
                text="Q {{currentQuestion.chapterIndex}}.{{currentQuestion.questionIndex}}"></Label>

            <Label class="page__content-placeholder question-text" width="100%" backgroundColor="#DCDCDC"
                text="{{currentQuestion.questionText}}" textWrap="true">
            </Label>
        </FlexLayout>

        <!-- *ngFor="let answerChoice in currentQuestion.shuffledAnswerChoices"  -->
        <Button *ngIf="false" text="{{answerChoice}})" textWrap="true" class="default-button" [ngClass]="{}"></Button>

        <!-- (tap)="onTap(answerChoice[0])" -->


        <!-- Button 0, 'A' Choice -->
        <Button text="A)  {{textAnswerChoices[0]}}" (tap)="onTap(answerChoicesArray[0])" textWrap="true"
            class="default-button question-btn first-button" [ngClass]="{
                    '-primary': answered === false || answered === true && answerChoice !== answerChoicesArray[0][0] && currentQuestion.shuffledCorrectAnswer !== answerChoicesArray[0],
                    'correct-green': answered === true && currentQuestion.shuffledCorrectAnswer === answerChoicesArray[0],
                    'incorrect-choice': answered === true && answerChoice === answerChoicesArray[0] && answeredCorrectly === false
                }"></Button>

        <!-- Button 1, 'B' Choice -->
        <Button text="B)  {{textAnswerChoices[1]}}" (tap)="onTap(answerChoicesArray[1])" textWrap="true"
            class="default-button question-btn" [ngClass]="{
                    '-primary': answered === false || answered === true && answerChoice !== answerChoicesArray[1] && currentQuestion.shuffledCorrectAnswer !== answerChoicesArray[1],
                    'correct-green': answered === true && currentQuestion.shuffledCorrectAnswer === answerChoicesArray[1],
                    'incorrect-choice': answered === true && answerChoice === answerChoicesArray[1] && answeredCorrectly === false
                }"></Button>

        <!-- Button 2, 'C' Choice -->
        <Button text="C)  {{textAnswerChoices[2]}}" (tap)="onTap(answerChoicesArray[2])" textWrap="true"
            class="default-button question-btn" [ngClass]="{
                    '-primary': answered === false || answered === true && answerChoice !== answerChoicesArray[2] && currentQuestion.shuffledCorrectAnswer !== answerChoicesArray[2],
                    'correct-green': answered === true && currentQuestion.shuffledCorrectAnswer === answerChoicesArray[2],
                    'incorrect-choice': answered === true && answerChoice === answerChoicesArray[2] && answeredCorrectly === false
                }"></Button>

        <!-- Button 3, 'D' Choice -->
        <Button text="D)  {{textAnswerChoices[3]}}" (tap)="onTap(answerChoicesArray[3])" textWrap="true"
            class="default-button question-btn" [ngClass]="{
                    '-primary': answered === false || answered === true && answerChoice !== answerChoicesArray[3] && currentQuestion.shuffledCorrectAnswer !== answerChoicesArray[3],
                    'correct-green': answered === true && currentQuestion.shuffledCorrectAnswer === answerChoicesArray[3],
                    'incorrect-choice': answered === true && answerChoice === answerChoicesArray[3] && answeredCorrectly === false
        }"></Button>

        <!-- Button 4, 'E' Choice -->
        <Button *ngIf="textAnswerChoices ? textAnswerChoices.length > 4 : false" text="E)  {{textAnswerChoices[4]}}"
            (tap)="onTap(answerChoicesArray[4])" textWrap="true" class="default-button question-btn" [ngClass]="{
                    '-primary': answered === false || answered === true && answerChoice !== answerChoicesArray[4] && currentQuestion.shuffledCorrectAnswer !== answerChoicesArray[4],
                    'correct-green': answered === true && currentQuestion.shuffledCorrectAnswer === answerChoicesArray[4],
                    'incorrect-choice': answered === true && answerChoice === answerChoicesArray[4] && answeredCorrectly === false
        }"></Button>

        <Label *ngIf="answered" class="hacky-hr" width="100%" height="3" backgroundColor="#DCDCDC" text=""></Label>

        <Button *ngIf="answered" text="More Explanation..." (tap)="toggleDetailsExpanded()"
            class="-primary more-explanation"></Button>

        <!-- =======   Temporarily removing choice-specific explanations   ======= -->    

        <!-- <Label *ngIf="answered && moreDetailsExpanded && currentQuestion.explanations[answerChoice] !== ''"
            class="readable-p" textWrap="true"
            text="{{currentQuestion.explanations[currentQuestion.shuffledCorrectAnswer]}} {{answerChoice !== currentQuestion.shuffledCorrectAnswer ? '&#X0D;&#X0D;' + currentQuestion.explanations[answerChoice] : '' }} &#X0D;&#X0D;">
        </Label>

        <Label *ngIf="answered && moreDetailsExpanded" textWrap="true" text="{{currentQuestion.moreExplanation}}"
            class="readable-p">
        </Label> -->

        <!-- ======================================================================= -->

        <Label width="100%" height="15" text="" *ngIf="answered && moreDetailsExpanded"></Label> <!-- Spacer -->

        <Button *ngIf="answered" text="Next Question" (tap)="reviewNextQ()" class="-primary"></Button>

        <Label width="100%" height="15" text=""></Label> <!-- Spacer -->

        <!-- <Button *ngIf="answered" text="Reset" (tap)="resetQuestion()" class="-primary"></Button> -->

    </StackLayout>
</ScrollView>