
.main-prompt {
    font-size: 22;
    text-align: center;
    padding: 30 5;
}

.radio-label {
    font-size: 24;
    padding: 20 15;
}

.radio-switch {
    margin-right: 20;
}

.extra-top-margin {
    margin-top: 20;
}

.extra-btm-margin {
    margin-bottom: 20;
}

.disabled-btn {
    opacity: 0.27;
}