
.main-prompt {
    font-size: 22;
    text-align: center;
    padding: 30 5;
}

.radio-label {
    font-size: 24;
    // text-align: center;
    padding: 20 25;
    // width: auto;
    // max-width: 15;
    // display: flex;
    // flex: 1;

    text-align: left;
}

.radio-switch {
    // width: 40;
    // float: right;
    text-align: right;
    // padding-left: 10;
}

.extra-top-margin {
    margin-top: 20;
}

.extra-btm-margin {
    margin-bottom: 20;
}

.disabled-btn {
    opacity: 0.27;
}