<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392698294367-24b219llaituknm50qquc1d69oq1o0p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392698294367-24b219llaituknm50qquc1d69oq1o0p9</string>
	<key>API_KEY</key>
	<string>AIzaSyABg1_p0RrW2l91cPKs7N_xV1irgpMpc6s</string>
	<key>GCM_SENDER_ID</key>
	<string>392698294367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>enrolled-agent.study-app</string>
	<key>PROJECT_ID</key>
	<string>study-app-b2962</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-b2962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392698294367:ios:3d9eeeeedf8aaa28ed2bea</string>
	<key>DATABASE_URL</key>
	<string>https://study-app-b2962.firebaseio.com</string>
</dict>
</plist>