.question-index-label {
    padding: 27px;
    font-size: 15rem;
}

.black-text {
    color: #1a1110;
}

.question-text {
    color: #1a1110;
    font-size: 27rem;
    padding: 2 6 10;
}

.single-line {
    line-height: 20px;
    max-height: 30px;
}

.readable-p {
    margin: 40px 10px;
    font-size: 17;
    text-align: center;
}

.immediate-feedback-text {
    margin: 25px 10px 0;
    text-align: center;
    font-size: 25;
    overflow: hidden;
}

Button {
    height: auto;
}

.more-explanation {
    font-size: 21;
}

