
.continuing-education-page-container {
    text-align: center;
}

.cont-ed-p {
    font-size: 24;
    padding: 10 5;
    line-height: 4;
}

.cont-ed-h {
    font-size: 30;
    padding: 35 5 10 5;
    line-height: 3;
}